<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168026602633-vul3h0o324milg0giafdvt9h22b0vpem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168026602633-vul3h0o324milg0giafdvt9h22b0vpem</string>
	<key>API_KEY</key>
	<string>AIzaSyAcELzMpl_BlcMYun0tG-Xw7c7Qbfmiuag</string>
	<key>GCM_SENDER_ID</key>
	<string>168026602633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycounter</string>
	<key>PROJECT_ID</key>
	<string>mycounter-73070</string>
	<key>STORAGE_BUCKET</key>
	<string>mycounter-73070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168026602633:ios:0b743a8c2ee2481a97da58</string>
</dict>
</plist>